# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.TempPoint.ps1
*.TempPoint.psf

*.TempPoint.*
*.Export.*
*.psprojs
*.RestorePoint.*
*.Run.ps1
*.Package.ps1
CustomMenu.inf

Tron_Control_Panel\.psf

Tron_Control_Panel\.psf\.psbuild

TronCP_Commands\.ps1

User\.ps1
